<b>Upload Form</b>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'data' %>
  <p>
    <%= label_tag (:city) %>
    <%= text_field_tag(:city) %>
  </p>
  <p>
    <%= label_tag (:state) %>
    <%= text_field_tag(:state) %>
  </p>
  <p>
    <%= label_tag (:date) %>
    <%= date_field(:date_input, :date) %>
  </p>
  <p>
    <%= submit_tag("Upload") %>
  </p>
<% end %>



