<div id="loading"><img src = "<%= asset_path('gps.gif') %>" ></div>
<%= render partial: "navbar", layout: false %>

<div class="overlay"></div>
<div id='map'></div> <!-- MAP DIV -->

<%= render partial: "charts", layout: false %>
<%= render partial: "landing", layout: false %>
<%= render partial: "panels", layout: false %>
