<h1>Upload your data!</h1>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'tempdata' %>
  <%= label_tag (:city) %>
  <%= text_field_tag(:city) %>
  <%= label_tag (:state) %>
  <%= text_field_tag(:state) %>
  <%= date_field(:tempdate, :date) %>
  <%= submit_tag("Upload") %>
<% end %>



